footer{
    background-color: black;
    a{
        color: rgb(155, 155, 155);
    }
    h5{
        color: white;
    }
    li{
        color:rgb(172, 172, 172);
    }
    span{
        font-size: 35px;
    }
}
.list-stylized{
    a{
        color:white;
    }
    li{
        padding: 4px;
        margin: 2px 1px;
        background-color:  rgb(48, 47, 47);
    }
}
.latestMovieFooter{
    padding-bottom: 10px;
}
.list-inline-item{
    color:white;
}