header {
  .navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;

    .navbar-brand {
      font-size: 200%;
      font-weight: bolder;
      margin-right: 2em;
    }
    #nav-search {
      background-color: rgba(0, 0, 0, 0.568);
      color: white;
      border: none;
      border-radius: 30px;

      &::placeholder {
        color: white;
      }
    }
  }

  .jumbotron {
    border-radius: 0;
    padding: 0;
  }

  .carousel {
    width: 100%;
    .carousel-item {
      width: 100%;
      height: 50vh !important;

      h5 {
        font-size: 200%;
        font-weight: bolder;
      }

      .carousel-caption {
        position: absolute;
        top: 30%;
      }
    }

    #car-1 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(../img/hero.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
    #car-2 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(../img/hero2.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
    #car-3 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(../img/hero.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  #login-bar {
    height: 50px;
  }
}
